body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo-wrapper {
  margin: 0 auto;
  width: 30%;
}

/* no FLOUT */

.wf-loading {
//  visibility: hidden;
}

h1.site-name {
  text-transform: uppercase;
  font-weight: 100;
}

/* vertical center  */

/*
.root {
  height: 100vh;
  display: flex;
  align-items: center;
}
*/

.tk-museo-sans-condensed {
  font-weight: 100;
}

.tk-fira-sans-2 {
  font-weight: 400;
}

/* shopping cart */

.h-cart-row {
  background-color: whitesmoke;
  margin-bottom: 0.5em;
  padding: 1em;
}

