
  .diamond-item_3lSHn6 {
    z-index: 2;
    pointer-events: none;
    flex: 1;
    width: 22em;
    height: 90px;
  }

  .half-diamond-item_3lSHn6 {
    flex: 0.5;
    position: relative;
    top: 1.2em;
  }

  .diamond-wrapper_3lSHn6 {
    display: flex;
    flex-flow: row wrap;
  }

  .sub-nav-wrapper_3lSHn6 {
    z-index: 1;
    position: relative;
    bottom: 65px;
  }

  .sub-nav-wrapper_3lSHn6 .diamond-item_3lSHn6 {
    height: 120px;
  }

  .nav-text_3lSHn6 {
    pointer-events: initial;
    position: relative;
    top: 40px;
  }

  .nav-text_3lSHn6 a {
    font-family: Avenir Next;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.1em;
  }

  .nav-text_3lSHn6 a.active-link_3lSHn6 {
    font-weight: bold;
  }

  .tt-btn_1soJSd {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: bottom;
  }

  .tt-btn_1soJSd button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .tt-btn_1soJSd button:hover {
    opacity: 0.5;
  }

  .tt-btn_1soJSd svg {
    stroke: black;
    stroke-width: 5;
  }

  .tt-btn_1soJSd a:hover {
    opacity: 0.5;
  }

  .tt-cart_2jUNIk {
    padding: 1em;
  }

  .tt-qty-btn_2jUNIk {
    max-width: 3em;
  }

  .tt-cart_2jUNIk .cell_3VvqlD, .tt-cart_2jUNIk .cell-title_3VvqlD {
    align-self: center;
  }

  .button-row_2jUNIk {
    text-align: right;
  }

  .product-detail-page_LlHoI {
    text-align: left;
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
  }

  .product-gallery_LlHoI {
  }

  .product-gallery_LlHoI .main-image_LlHoI {
  }

  .product-gallery_LlHoI .main-image_LlHoI img {
    width: 100%;
  }

  .product-detail-page_LlHoI .product-title_LlHoI {
    color: gray;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
  }

  .product-nav_LlHoI {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
  }

  .tt-price_LlHoI {
    display: inline-block;
    float: right;
  }

  .tt-prod-buttons_LlHoI {
    text-align: right;
  }


  .tt-checkout_2UT1MA {
    text-align: left;
  }

  .tt-checkout_2UT1MA input {
    margin-top: 0.2em;
    transition: border 0.25s;
    display: block;
    width: 100%;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .tt-checkout_2UT1MA input:focus {
    outline: none;
    border-bottom: 1px solid #03A9F4;
  }

  .tt-checkout_2UT1MA label {
    color: gray;
    font-size: 0.8em;
    display: block;
    margin-bottom: 2em;
  }

  .tt-form-buttons_2UT1MA {
    text-align: right;
  }

  .tt-checkout_2UT1MA input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }

  .tt-checkout_2UT1MA form {
    width: 100%;
    max-width: 30em;
    margin: 0 auto;
  }

  .tt-checkout_2UT1MA input.hasFocused_2UT1MA:invalid {
    background-color: blue;
  }

  .tt-checkout_2UT1MA input:valid {
  }

  .tt-address-line_3a5NEr {
    display: block;
  }

  .bottom-controls_2NHi9O {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .logo-wrapper_oTcaI {
    height: 80vh;
  }

  .product-container_3T7dWU {
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  .product-list-item_3T7dWU {
    margin: 0 2em;
    margin-bottom: 4em;
  }

  .product-list-item_3T7dWU .product-image-wrapper_3T7dWU {
    transition: opacity 0.3s;
    display: block;
    opacity: 0.6;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-size: contain;
    -webkit-clip-path: url("#clippy-diamond");
    clip-path: url("#clippy-diamond");
  }

  .product-image-wrapper_3T7dWU:hover {
    opacity: 1;
  }

  .product-item-title_3T7dWU {
    display: inline-block;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid gray;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .product-item-title_3T7dWU a {
    color: black;
    transition: opacity 0.25s;
    opacity: 0.5;
    text-decoration: none;
  }

  .product-item-title_3T7dWU a:hover {
    opacity: 1;
  }

  .h-button_266dE2 {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
  }
  .h-button_266dE2:hover {
    opacity: 0.6;
  }
  .h-button-delete_266dE2 {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACoElEQVR4Xt3b61XDMAyG4a8TwCiMABvABJQNYBLYADoJjMAosAFHPVVPcJ1YtiX5kl9Ay+V96iTFiXf4v70COAD4Dr4+y6c3AB4BvHDQblH2DmAP4AfA3YQIFP8J4BrAB4AnamcAjmeP2RCW8dx4RCCAMH42hFj8GYEAaNgTQmwbfSRsxVPvcQTQNiNCMp6OBcuD4EwIovjlQZCH/wwI4vgYwOi7w1b8L4Db8PS+3AWWB8ERR0J2/NoIYIj70xuGq8jpobezQ1F8CoAepx/8BaBnhOJ4CUDvCFXxUoBeEarjcwB6Q1CJzwXoBUEtvgSgNYJqfClAKwT1+BoAbwST+FoALwSzeA0AawTTeC0AKwTzeE0AbQSXeG0ALQS3eAuAWgTXeCuAUgT3eEuAXIQm8dYAUgR6Hl+xoY+XW3QaK3xSzedrU2I1PzP83tSkCj2fLle5x3uMAI7aQohhm7/y/Es9RkAuglu85wiQIrjGtwJYO+DR3+M+2+y9C2zF8yhxRfACSF2uCg+EbggeAKk3ORTf7LqDNUAqnq7V0dbs4oslgCSeb8ZKvVkyu2fJCiAnXnKKNDsmWACUxDdD0AaoiW+CoAmgEe+OoAWgGe+KoAFgEe+GUAtgGe+CUAPgEW+OUArgGW+KUALQIt4MIRegZbwJQg5AD/HqCFIAumeQ7ihvNnsbmTlV+QdKArB116j7HF4AUY2QAug5Xro7PJzmG2LT7+clM7EHR4iXINBzaH0QLZG52Epulm497KOvZOK23lWEGMBIr3yIkboCdTESQoCR44t2B+mSmV6HffXuIFk0NVp81khILZsbNV6MQAB0eqD1tOE2erwE4cC7QIgwS/wWAi0S3y8PgowwW3wM4RhPD4SnwbfTLjHz8nkKf2aVP1lYT0/xwI9yAAAAAElFTkSuQmCC');
  }

  .row_3ehaEf {
    display: flex;
    flex-flow: row wrap;
  }

  .cell_3ehaEf {
    flex: 1;
  }

  .cart_3VvqlD {
  }

  .row_3VvqlD {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.5em;
  }

  .cell_3VvqlD {
    flex: 1;
  }

  .cell-title_3VvqlD {
    flex: 6;
  }

  .small-cell_3VvqlD{
    flex: 0.3;
  }

  .th-title_3VvqlD {
    flex: 1.3;
  }

  .title_3VvqlD {
    text-align: left;
  }

  .btn-col_3VvqlD {
    max-width: 3em;
  }

  .h-button-delete_BvhUZ {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACoElEQVR4Xt3b61XDMAyG4a8TwCiMABvABJQNYBLYADoJjMAosAFHPVVPcJ1YtiX5kl9Ay+V96iTFiXf4v70COAD4Dr4+y6c3AB4BvHDQblH2DmAP4AfA3YQIFP8J4BrAB4AnamcAjmeP2RCW8dx4RCCAMH42hFj8GYEAaNgTQmwbfSRsxVPvcQTQNiNCMp6OBcuD4EwIovjlQZCH/wwI4vgYwOi7w1b8L4Db8PS+3AWWB8ERR0J2/NoIYIj70xuGq8jpobezQ1F8CoAepx/8BaBnhOJ4CUDvCFXxUoBeEarjcwB6Q1CJzwXoBUEtvgSgNYJqfClAKwT1+BoAbwST+FoALwSzeA0AawTTeC0AKwTzeE0AbQSXeG0ALQS3eAuAWgTXeCuAUgT3eEuAXIQm8dYAUgR6Hl+xoY+XW3QaK3xSzedrU2I1PzP83tSkCj2fLle5x3uMAI7aQohhm7/y/Es9RkAuglu85wiQIrjGtwJYO+DR3+M+2+y9C2zF8yhxRfACSF2uCg+EbggeAKk3ORTf7LqDNUAqnq7V0dbs4oslgCSeb8ZKvVkyu2fJCiAnXnKKNDsmWACUxDdD0AaoiW+CoAmgEe+OoAWgGe+KoAFgEe+GUAtgGe+CUAPgEW+OUArgGW+KUALQIt4MIRegZbwJQg5AD/HqCFIAumeQ7ihvNnsbmTlV+QdKArB116j7HF4AUY2QAug5Xro7PJzmG2LT7+clM7EHR4iXINBzaH0QLZG52Epulm497KOvZOK23lWEGMBIr3yIkboCdTESQoCR44t2B+mSmV6HffXuIFk0NVp81khILZsbNV6MQAB0eqD1tOE2erwE4cC7QIgwS/wWAi0S3y8PgowwW3wM4RhPD4SnwbfTLjHz8nkKf2aVP1lYT0/xwI9yAAAAAElFTkSuQmCC');
  }

  .h-button_3sqJ3x {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
  }
  .h-button_3sqJ3x:hover {
    opacity: 0.6;
  }
