
  .diamond-item_SorG8 {
    z-index: 2;
    pointer-events: none;
    flex: 1;
    width: 22em;
    height: 90px;
  }

  .half-diamond-item_SorG8 {
    flex: 0.5;
  }

  .half-diamond-r_SorG8 {
    position: relative;
    bottom: 1.6em;
  }

  .diamond-wrapper_SorG8 {
    display: flex;
    flex-flow: row wrap;
  }

  .sub-nav-wrapper_SorG8 {
    z-index: 1;
    position: relative;
    bottom: 65px;
  }

  .sub-nav-wrapper_SorG8 .diamond-item_SorG8 {
    height: 120px;
  }

  .nav-text_SorG8 {
    pointer-events: initial;
    position: relative;
    top: 40px;
  }

  .nav-text-left_SorG8 {
    top: 30px;
    right: 2em;
  }

  .nav-text-right_SorG8 {
    top: 64px;
    left: 4em;
    display: block;
    width: 3em;
    height: 3em;
  }

  .nav-text-right_SorG8 .tt-cart-qty_2FoUGS {
    left: 0.35em;
  }

  .nav-text_SorG8 a {
    font-family: Avenir Next;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.1em;
  }

  .nav-text_SorG8 a.active-link_SorG8 {
    font-weight: bold;
  }


  .product-detail-page_1LdSbg {
    text-align: left;
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
  }

  .product-gallery_1LdSbg {
  }

  .product-gallery_1LdSbg .main-image_1LdSbg {
  }

  .product-gallery_1LdSbg .main-image_1LdSbg img {
    width: 100%;
  }

  .product-detail-page_1LdSbg .product-title_1LdSbg {
    color: gray;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
  }

  .product-nav_1LdSbg {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
  }

  .tt-price_1LdSbg {
    display: inline-block;
    float: right;
  }

  .tt-prod-buttons_1LdSbg {
    text-align: right;
  }


  .tt-cart_jYplM {
    padding: 1em;
  }

  .tt-qty-btn_jYplM {
    max-width: 3em;
  }

  .tt-cart_jYplM .cell_3VvqlD, .tt-cart_jYplM .cell-title_3VvqlD {
    align-self: center;
  }

  .button-row_jYplM {
    margin-top: 1em;
    text-align: right;
  }

  .tt-checkout_2UT1MA {
    text-align: left;
  }

  .tt-checkout_2UT1MA input {
    margin-top: 0.2em;
    transition: border 0.25s;
    display: block;
    width: 100%;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .tt-checkout_2UT1MA input:focus {
    outline: none;
    border-bottom: 1px solid #03A9F4;
  }

  .tt-checkout_2UT1MA label {
    color: gray;
    font-size: 0.8em;
    display: block;
    margin-bottom: 2em;
  }

  .tt-form-buttons_2UT1MA {
    text-align: right;
  }

  .tt-checkout_2UT1MA input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }

  .tt-checkout_2UT1MA form {
    width: 100%;
    max-width: 30em;
    margin: 0 auto;
  }

  .tt-checkout_2UT1MA input.hasFocused_2UT1MA:invalid {
    background-color: blue;
  }

  .tt-checkout_2UT1MA input:valid {
  }

  .logo-wrapper_oTcaI {
    height: 80vh;
  }

  .product-container_2cjbkm {
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  .product-list-item_2cjbkm {
    margin: 0 2em;
    margin-bottom: 4em;
  }

  .product-list-item_2cjbkm > a {
    display: block;
  }

  .product-list-item_2cjbkm .product-image-wrapper_2cjbkm {
    opacity: 0.6;
    transition: opacity 0.3s;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-size: contain;
    -webkit-clip-path: url("#clippy-diamond");
    clip-path: url("#clippy-diamond");
  }

  .product-list-item_2cjbkm:hover .product-image-wrapper_2cjbkm,
  .product-list-item_2cjbkm:hover .product-item-title_2cjbkm {
    opacity: 1;
  }

  .product-item-title_2cjbkm {
    color: black;
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 0.5;
    display: inline-block;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid gray;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }


  .tt-cart-icon_2FoUGS {
    width: 3em;
    height: 3em;
    margin-bottom: -1em;
  }

  .tt-cart-icon_2FoUGS:hover {
    text-decoration: none;
    opacity: 0.6;
  }

  .tt-cart-icon_2FoUGS svg {
    position: relative;
    bottom: 1.4em;
  }

  .tt-cart-qty_2FoUGS {
    color: darkslategray;
    position: relative;
    left: 1.5em;
    font-weight: bold;
  }

  .button_1t4p3H {
    display: inline-block;
    font-weight: bold;
    box-shadow: 4px 4px 4px #ccc;
    text-transform: uppercase;
    border: 2px solid gray;
    padding: 0.6em 1em;
    letter-spacing: 0.1em;
    color: gray;
  }
  .button_1t4p3H:hover {
    text-decoration: none;
    border: 2px solid black;
    color: black;
  }

.loader_yw2P9:before,
.loader_yw2P9:after,
.loader_yw2P9 {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7_yw2P9 1.8s infinite ease-in-out;
  animation: load7_yw2P9 1.8s infinite ease-in-out;
}
.loader_yw2P9 {
  color: gray;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader_yw2P9:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader_yw2P9:after {
  left: 3.5em;
}
.loader_yw2P9:before,
.loader_yw2P9:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7_yw2P9 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7_yw2P9 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

  .row_3ehaEf {
    display: flex;
    flex-flow: row wrap;
  }

  .cell_3ehaEf {
    flex: 1;
  }

  .h-button_266dE2 {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
  }
  .h-button_266dE2:hover {
    opacity: 0.6;
  }
  .h-button-delete_266dE2 {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACoElEQVR4Xt3b61XDMAyG4a8TwCiMABvABJQNYBLYADoJjMAosAFHPVVPcJ1YtiX5kl9Ay+V96iTFiXf4v70COAD4Dr4+y6c3AB4BvHDQblH2DmAP4AfA3YQIFP8J4BrAB4AnamcAjmeP2RCW8dx4RCCAMH42hFj8GYEAaNgTQmwbfSRsxVPvcQTQNiNCMp6OBcuD4EwIovjlQZCH/wwI4vgYwOi7w1b8L4Db8PS+3AWWB8ERR0J2/NoIYIj70xuGq8jpobezQ1F8CoAepx/8BaBnhOJ4CUDvCFXxUoBeEarjcwB6Q1CJzwXoBUEtvgSgNYJqfClAKwT1+BoAbwST+FoALwSzeA0AawTTeC0AKwTzeE0AbQSXeG0ALQS3eAuAWgTXeCuAUgT3eEuAXIQm8dYAUgR6Hl+xoY+XW3QaK3xSzedrU2I1PzP83tSkCj2fLle5x3uMAI7aQohhm7/y/Es9RkAuglu85wiQIrjGtwJYO+DR3+M+2+y9C2zF8yhxRfACSF2uCg+EbggeAKk3ORTf7LqDNUAqnq7V0dbs4oslgCSeb8ZKvVkyu2fJCiAnXnKKNDsmWACUxDdD0AaoiW+CoAmgEe+OoAWgGe+KoAFgEe+GUAtgGe+CUAPgEW+OUArgGW+KUALQIt4MIRegZbwJQg5AD/HqCFIAumeQ7ihvNnsbmTlV+QdKArB116j7HF4AUY2QAug5Xro7PJzmG2LT7+clM7EHR4iXINBzaH0QLZG52Epulm497KOvZOK23lWEGMBIr3yIkboCdTESQoCR44t2B+mSmV6HffXuIFk0NVp81khILZsbNV6MQAB0eqD1tOE2erwE4cC7QIgwS/wWAi0S3y8PgowwW3wM4RhPD4SnwbfTLjHz8nkKf2aVP1lYT0/xwI9yAAAAAElFTkSuQmCC');
  }

  .tt-btn-icon_2iqMi7 {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: bottom;
  }

  .tt-btn-icon_2iqMi7 button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .tt-btn-icon_2iqMi7 button:hover {
    opacity: 0.5;
  }

  .tt-btn-icon_2iqMi7 svg {
    stroke: black;
    stroke-width: 5;
  }

  .tt-btn-icon_2iqMi7 a:hover {
    opacity: 0.5;
  }

  .cart_3VvqlD {
  }

  .row_3VvqlD {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.5em;
  }

  .cell_3VvqlD {
    flex: 1;
  }

  .cell-title_3VvqlD {
    flex: 6;
  }

  .small-cell_3VvqlD{
    flex: 0.3;
  }

  .th-title_3VvqlD {
    flex: 1.3;
  }

  .title_3VvqlD {
    text-align: left;
  }

  .btn-col_3VvqlD {
    max-width: 3em;
  }

  .h-button-delete_BvhUZ {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACoElEQVR4Xt3b61XDMAyG4a8TwCiMABvABJQNYBLYADoJjMAosAFHPVVPcJ1YtiX5kl9Ay+V96iTFiXf4v70COAD4Dr4+y6c3AB4BvHDQblH2DmAP4AfA3YQIFP8J4BrAB4AnamcAjmeP2RCW8dx4RCCAMH42hFj8GYEAaNgTQmwbfSRsxVPvcQTQNiNCMp6OBcuD4EwIovjlQZCH/wwI4vgYwOi7w1b8L4Db8PS+3AWWB8ERR0J2/NoIYIj70xuGq8jpobezQ1F8CoAepx/8BaBnhOJ4CUDvCFXxUoBeEarjcwB6Q1CJzwXoBUEtvgSgNYJqfClAKwT1+BoAbwST+FoALwSzeA0AawTTeC0AKwTzeE0AbQSXeG0ALQS3eAuAWgTXeCuAUgT3eEuAXIQm8dYAUgR6Hl+xoY+XW3QaK3xSzedrU2I1PzP83tSkCj2fLle5x3uMAI7aQohhm7/y/Es9RkAuglu85wiQIrjGtwJYO+DR3+M+2+y9C2zF8yhxRfACSF2uCg+EbggeAKk3ORTf7LqDNUAqnq7V0dbs4oslgCSeb8ZKvVkyu2fJCiAnXnKKNDsmWACUxDdD0AaoiW+CoAmgEe+OoAWgGe+KoAFgEe+GUAtgGe+CUAPgEW+OUArgGW+KUALQIt4MIRegZbwJQg5AD/HqCFIAumeQ7ihvNnsbmTlV+QdKArB116j7HF4AUY2QAug5Xro7PJzmG2LT7+clM7EHR4iXINBzaH0QLZG52Epulm497KOvZOK23lWEGMBIr3yIkboCdTESQoCR44t2B+mSmV6HffXuIFk0NVp81khILZsbNV6MQAB0eqD1tOE2erwE4cC7QIgwS/wWAi0S3y8PgowwW3wM4RhPD4SnwbfTLjHz8nkKf2aVP1lYT0/xwI9yAAAAAElFTkSuQmCC');
  }

  .h-button_3sqJ3x {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
  }
  .h-button_3sqJ3x:hover {
    opacity: 0.6;
  }
