
  .diamond-item_3k0zUr {
    z-index: 2;
    pointer-events: none;
    flex: 1;
    width: 22em;
    height: 90px;
  }

  .half-diamond-item_3k0zUr {
    flex: 0.5;
  }

  .half-diamond-l_3k0zUr {
    position: relative;
    bottom: 2.7em;
  }

  .half-diamond-r_3k0zUr {
    position: relative;
    bottom: 1.6em;
  }

  .diamond-wrapper_3k0zUr {
    display: flex;
    flex-flow: row wrap;
  }

  .sub-nav-wrapper_3k0zUr {
    z-index: 1;
    position: relative;
    bottom: 155px;
  }

  .sub-nav-wrapper_3k0zUr .diamond-item_3k0zUr {
    height: 185px;
  }

  .sub-nav-wrapper_3k0zUr polyline {
    fill: white;
  }

  .sub-nav-wrapper_3k0zUr .nav-text_3k0zUr {
    top: 130px;
  }

  .nav-text_3k0zUr {
    pointer-events: initial;
    position: relative;
    top: 40px;
  }

  .nav-text-left_3k0zUr {
    display: block;
    top: 3.8em;
    right: 2em;
  }

  .nav-text-right_3k0zUr {
    top: 64px;
    left: 4em;
    display: block;
    width: 3em;
    height: 3em;
  }

  .nav-text-right_3k0zUr .tt-cart-qty_3Hoh6v {
  }

  .nav-text_3k0zUr a {
    font-family: Avenir Next;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 0.1em;
  }

  .nav-text_3k0zUr a.active-link_3k0zUr {
    font-weight: bold;
  }


  .product-detail-page_1vmqaS {
    padding: 1em;
    padding-top: 6em;
    text-align: left;
    margin: 0 auto;
    display: flex;
  }

  .product-description_1vmqaS {
    flex: 4;
    margin-left: 2em;
  }

  .product-gallery_1vmqaS {
    max-width: 30em;
    flex: 8;
  }

  .product-gallery_1vmqaS .main-image_1vmqaS {
  }

  .product-gallery_1vmqaS .main-image_1vmqaS img {
    width: 100%;
  }

  .product-detail-page_1vmqaS .product-title_1vmqaS {
    color: gray;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-top: 0;
  }

  .product-nav_1vmqaS {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
  }

  .tt-price_1vmqaS {
    display: inline-block;
    float: right;
  }

  .tt-prod-buttons_1vmqaS {
    text-align: right;
  }

  .tt-prod-buttons_1vmqaS .loader_yw2P9 {
    margin: 2em 8em;
  }

  .tt-prod-buttons_1vmqaS button:disabled {
    color: lightgray;
    border-color: lightgray;
  }

  .tt-prod-buttons_1vmqaS button:disabled:hover {
    cursor: initial;
    color: lightgray;
    border-color: lightgray;
  }


  .tt-cart_30uoZl {
    padding: 1em;
    padding-top: 3em;
  }

  a.disabled_30uoZl {
    color: lightgray;
    border: 1px solid lightgray;
  }

  a.disabled_30uoZl:hover {
    color: lightgray;
    border: 1px solid lightgray;
    cursor: default;
  }

  .tt-qty-btn_30uoZl {
    max-width: 3em;
  }

  .tt-cart_30uoZl .cell_3VvqlD, .tt-cart_30uoZl .cell-title_3VvqlD {
    align-self: center;
  }

  .button-row_30uoZl {
    margin-top: 1em;
    text-align: right;
  }

  .tt-checkout-wrapper_3Ptzm {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .resolving_3Ptzm {
    opacity: 0.4;
  }

  .head_3Ptzm {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 2.3em;
    font-weight: bold;
    color: gray;
  }

  .logo-wrapper_2SIEaX {
    height: 80vh;
  }

  h1.site-name_2SIEaX {
    font-size: 5em;
  }

  .product-container_49dKC4 {
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  .product-list-item_49dKC4 {
    margin: 0 2em;
    margin-bottom: 4em;
  }

  .product-list-item_49dKC4 > a {
    display: block;
  }

  .product-list-item_49dKC4 .product-image-wrapper_49dKC4 {
    opacity: 0.8;
    transition: opacity 0.3s;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-size: contain;
    -webkit-clip-path: url("#clippy-diamond");
    clip-path: url("#clippy-diamond");
  }

  /* need line break after image */
  .product-list-item_49dKC4 .product-image-wrapper_49dKC4:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .product-list-item_49dKC4:hover .product-image-wrapper_49dKC4,
  .product-list-item_49dKC4:hover .product-item-title_49dKC4 {
    opacity: 1;
  }

  .product-item-title_49dKC4 {
    color: black;
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 0.5;
    display: inline-block;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid gray;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }


  .tt-cart-icon_3Hoh6v {
    display: block;
    text-align: left;
    width: 3em;
    height: 3em;
    margin-bottom: -1em;
  }

  .tt-cart-icon_3Hoh6v:hover {
    text-decoration: none;
    opacity: 0.6;
  }

  .tt-cart-icon_3Hoh6v svg {
    position: relative;
    bottom: 1.4em;
  }

  .tt-cart-qty_3Hoh6v {
    color: darkslategray;
    position: relative;
    left: 1.5em;
    font-weight: bold;
  }

.loader_yw2P9:before,
.loader_yw2P9:after,
.loader_yw2P9 {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7_yw2P9 1.8s infinite ease-in-out;
  animation: load7_yw2P9 1.8s infinite ease-in-out;
}
.loader_yw2P9 {
  color: gray;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader_yw2P9:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader_yw2P9:after {
  left: 3.5em;
}
.loader_yw2P9:before,
.loader_yw2P9:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7_yw2P9 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7_yw2P9 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

  .real-button_1h6C8O {
    background-color: white;
    font-size: 1em;
    cursor: pointer;
  }

  .real-button_1h6C8O:disabled {
    cursor: initial;
  }

  .real-button_1h6C8O:disabled:hover {
    border: 2px solid gray;
    color: gray;
  }

  .button_3YWpOX {
    display: inline-block;
    font-weight: bold;
    box-shadow: 4px 4px 4px #ccc;
    text-transform: uppercase;
    border: 2px solid gray;
    padding: 0.6em 1em;
    letter-spacing: 0.1em;
    color: gray;
    background-color: white;
  }
  .button_3YWpOX:hover {
    text-decoration: none;
    border: 2px solid black;
    color: black;
  }

  .logo-icon_1hGGsq {
    font-size: 3em;
  }
  .logo-icon_1hGGsq a:hover {
    text-decoration: none;
  }

  .sticky-nav_xgXk4 {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
  }

  .tt-cart_30uoZl .sticky-nav_xgXk4 nav {
    justify-content: center;
  }

  .sticky-nav_xgXk4 nav {
    padding: 0 1em;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.8em;
  }

  .checkout-head_2lkgo4 {
    //border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1em;
  }

  .checkout-head_2lkgo4 h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 3em;
  }

  .tt-checkout_1PUygo {
    max-width: 35em;
    margin: 0 auto;
    text-align: left;
  }

  .tt-checkout_1PUygo input {
    margin-top: 0.2em;
    transition: border 0.25s;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
  }

  .tt-checkout_1PUygo input:focus {
    outline: none;
    border-bottom: 1px solid #03A9F4;
  }

  .tt-checkout_1PUygo label {
    min-width: 10em;
    color: gray;
    font-size: 0.8em;
    display: block;
    margin-bottom: 2em;
    flex: 1;
    margin-right: 1em;
  }

  .tt-checkout_1PUygo label:last-child {
    margin-right: 0;
  }

  .field-container_1PUygo {
    display: flex;
    flex-flow: row wrap;
  }

  .tt-checkout_1PUygo fieldset {
    padding-bottom: 0;
    margin-bottom: 2em;
    box-shadow: 1px 4px 12px gray;
    border: none;
  }

  .tt-checkout_1PUygo legend {
    background-color: white;
    padding: 0 1em;
  }

  .tt-form-buttons_1PUygo {
    box-shadow: 0px -10px 15px white;
    text-align: right;
    padding-bottom: 1em;
    padding-top: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid;
  }

  .tt-form-buttons_1PUygo button {
    margin-right: 2em;
  }

  .tt-checkout_1PUygo input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }


  .tt-checkout_1PUygo.tt-review_1PUygo {
    max-width: initial;
    padding: 1em;
  }

  .error_1PUygo {
    color: red;
    margin-bottom: 1em;
    margin-left: 2em;
  }

  .tt-checkout_1PUygo form {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-left: -1em;
  }

  .form-section_1PUygo {
    flex: 1;
    padding-left: 1em;
  }

  .tt-checkout_1PUygo h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    border-bottom: 1px solid gray;
    color: gray;
  }

  .invalid_1PUygo.has-focused_1PUygo {
    color: red;
  }

  .invalid_1PUygo.has-focused_1PUygo input {
    border-bottom: 1px solid red;
  }

  .half_1PUygo, .third_1PUygo {}

  label.expiration_1PUygo {
  }

  .success-page_1PUygo h1 {
    line-height: 1;
    border-bottom: 3px solid;
    color: goldenrod;
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    font-size: 13vw;
    margin: 0;
    display: inline-block;
  }


  .row_3ehaEf {
    display: flex;
    flex-flow: row wrap;
  }

  .cell_3ehaEf {
    flex: 1;
  }

  .tt-btn-icon_2iqMi7 {
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: bottom;
  }

  .tt-btn-icon_2iqMi7 button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .tt-btn-icon_2iqMi7 button:hover {
    opacity: 0.5;
  }

  .tt-btn-icon_2iqMi7 svg {
    stroke: black;
    stroke-width: 5;
  }

  .tt-btn-icon_2iqMi7 a:hover {
    opacity: 0.5;
  }

  .order-summary_2OccMx {
    list-style: none;
    padding: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
    margin-bottom: 0;
  }

  .order-summary_2OccMx li {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
  }

  .image_2OccMx {
    width: 6em;
    height: 6em;
  }

  .cell_2OccMx {
    display: inline-block;
    flex: 1;
  }

  .numeric_2OccMx {
    text-align: right;
  }


  .h-button_266dE2 {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
  }
  .h-button_266dE2:hover {
    opacity: 0.6;
  }
  .h-button-delete_266dE2 {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACoElEQVR4Xt3b61XDMAyG4a8TwCiMABvABJQNYBLYADoJjMAosAFHPVVPcJ1YtiX5kl9Ay+V96iTFiXf4v70COAD4Dr4+y6c3AB4BvHDQblH2DmAP4AfA3YQIFP8J4BrAB4AnamcAjmeP2RCW8dx4RCCAMH42hFj8GYEAaNgTQmwbfSRsxVPvcQTQNiNCMp6OBcuD4EwIovjlQZCH/wwI4vgYwOi7w1b8L4Db8PS+3AWWB8ERR0J2/NoIYIj70xuGq8jpobezQ1F8CoAepx/8BaBnhOJ4CUDvCFXxUoBeEarjcwB6Q1CJzwXoBUEtvgSgNYJqfClAKwT1+BoAbwST+FoALwSzeA0AawTTeC0AKwTzeE0AbQSXeG0ALQS3eAuAWgTXeCuAUgT3eEuAXIQm8dYAUgR6Hl+xoY+XW3QaK3xSzedrU2I1PzP83tSkCj2fLle5x3uMAI7aQohhm7/y/Es9RkAuglu85wiQIrjGtwJYO+DR3+M+2+y9C2zF8yhxRfACSF2uCg+EbggeAKk3ORTf7LqDNUAqnq7V0dbs4oslgCSeb8ZKvVkyu2fJCiAnXnKKNDsmWACUxDdD0AaoiW+CoAmgEe+OoAWgGe+KoAFgEe+GUAtgGe+CUAPgEW+OUArgGW+KUALQIt4MIRegZbwJQg5AD/HqCFIAumeQ7ihvNnsbmTlV+QdKArB116j7HF4AUY2QAug5Xro7PJzmG2LT7+clM7EHR4iXINBzaH0QLZG52Epulm497KOvZOK23lWEGMBIr3yIkboCdTESQoCR44t2B+mSmV6HffXuIFk0NVp81khILZsbNV6MQAB0eqD1tOE2erwE4cC7QIgwS/wWAi0S3y8PgowwW3wM4RhPD4SnwbfTLjHz8nkKf2aVP1lYT0/xwI9yAAAAAElFTkSuQmCC');
  }

  .cart_3VvqlD {
  }

  .row_3VvqlD {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.5em;
  }

  .cell_3VvqlD {
    flex: 1;
  }

  .cell-title_3VvqlD {
    flex: 6;
  }

  .small-cell_3VvqlD{
    flex: 0.3;
  }

  .th-title_3VvqlD {
    flex: 1.3;
  }

  .title_3VvqlD {
    text-align: left;
  }

  .btn-col_3VvqlD {
    max-width: 3em;
  }

  .h-button-delete_BvhUZ {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACoElEQVR4Xt3b61XDMAyG4a8TwCiMABvABJQNYBLYADoJjMAosAFHPVVPcJ1YtiX5kl9Ay+V96iTFiXf4v70COAD4Dr4+y6c3AB4BvHDQblH2DmAP4AfA3YQIFP8J4BrAB4AnamcAjmeP2RCW8dx4RCCAMH42hFj8GYEAaNgTQmwbfSRsxVPvcQTQNiNCMp6OBcuD4EwIovjlQZCH/wwI4vgYwOi7w1b8L4Db8PS+3AWWB8ERR0J2/NoIYIj70xuGq8jpobezQ1F8CoAepx/8BaBnhOJ4CUDvCFXxUoBeEarjcwB6Q1CJzwXoBUEtvgSgNYJqfClAKwT1+BoAbwST+FoALwSzeA0AawTTeC0AKwTzeE0AbQSXeG0ALQS3eAuAWgTXeCuAUgT3eEuAXIQm8dYAUgR6Hl+xoY+XW3QaK3xSzedrU2I1PzP83tSkCj2fLle5x3uMAI7aQohhm7/y/Es9RkAuglu85wiQIrjGtwJYO+DR3+M+2+y9C2zF8yhxRfACSF2uCg+EbggeAKk3ORTf7LqDNUAqnq7V0dbs4oslgCSeb8ZKvVkyu2fJCiAnXnKKNDsmWACUxDdD0AaoiW+CoAmgEe+OoAWgGe+KoAFgEe+GUAtgGe+CUAPgEW+OUArgGW+KUALQIt4MIRegZbwJQg5AD/HqCFIAumeQ7ihvNnsbmTlV+QdKArB116j7HF4AUY2QAug5Xro7PJzmG2LT7+clM7EHR4iXINBzaH0QLZG52Epulm497KOvZOK23lWEGMBIr3yIkboCdTESQoCR44t2B+mSmV6HffXuIFk0NVp81khILZsbNV6MQAB0eqD1tOE2erwE4cC7QIgwS/wWAi0S3y8PgowwW3wM4RhPD4SnwbfTLjHz8nkKf2aVP1lYT0/xwI9yAAAAAElFTkSuQmCC');
  }

  .h-button_3sqJ3x {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
  }
  .h-button_3sqJ3x:hover {
    opacity: 0.6;
  }
