$specialFont: 'Playfair Display', serif;

body {
  font-family: avenir next, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

input {
  font-size: 1em;
  font-size: 1rem;
}

.tt-checkout {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#content {
  margin-bottom: 4em;
}

%head-treatment {
  text-transform: uppercase;
  color: gray;
  font-weight: 400;
  font-size: 1em;
}

.tt-cart-review-page {
  text-align: left;
  padding: 1em;
}

.tt-form-controls {
  &.tt-review-section {
    margin-left: -2em;
  }
  button {
    margin: 0 2em;
  }
}

.tt-cart-review {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  margin-left: -1em;
}

.tt-review-section {
  flex: 1;
  padding-left: 1em;
  h2 {
    @extend %head-treatment;
    border-bottom: 1px solid gray;
  }
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav.main-nav {
  margin-top: -1.4em;
  position: fixed;
  top: 0;
  z-index: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo-wrapper {
  margin: 0 auto;
  margin-top: 200px;
}

/* no FLOUT */
.wf-loading {
//  visibility: hidden;
}


h1.site-name {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.2em;
  font-size: 3em;
}

/* vertical center  */
/*
.root {
  height: 100vh;
  display: flex;
  align-items: center;
}
*/

.tk-museo-sans-condensed {
  font-weight: 100;
}
.tk-fira-sans-2 {
  font-weight: 400;
}


/* shopping cart */
.h-cart-row {
  background-color: whitesmoke;
  margin-bottom: 0.5em;
  padding: 1em;
}


/* buttons */
.tt-prod-buttons {
  margin-top: 2em;
}

.tt-button, .tt-button-primary {
  font-weight: bold;
  box-shadow: 4px 4px 4px #ccc;
  text-transform: uppercase;
  border: 2px solid gray;
  padding: 0.6em 1em;
  letter-spacing: 0.1em;
  color: gray;
  &:hover {
    text-decoration: none;
    border: 2px solid black;
    color: black;
  }
}


/*
  product detail page
  -----------------------
*/

.tt-product-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tt-prod-desc-text {
}

.tt-price {
  margin-left: 1.5em;
  padding-left: 1.5em;
  border-left: 1px solid lightgray;
  color: darkslategray;
  font-size: 2em;
  font-family: $specialFont;

}

.tt-product-detail .tt-prod-buttons .loader {
  display: inline-block;
}
